# Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env
*.env
venv/
env/
# Distribution / packaging
build/
dist/
*.egg-info/
# Django specific
*.log
local_settings.py
db.sqlite3

env
# IDE/editor settings
idea/
vscode/
*.sublime-*
*.swp
*.swo
# OS-specific files
DS_Store
Thumbs.db